@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 16px;
  color: #252525;
  background-color: #373737;
 }

 .container{
  display: flex;
  flex-direction: column;
  width:50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }

.nav{
  background-color: #00A961;
  width:100%;
  justify-content: center;
  align-items: center;
  color:#ffffff;
}

.nav h3{
  margin-left:50px;
  font-size: 30px;
}

 .chat-container{
  background-color: #252525;
  height:60vh;
  width:100%;
  color:#ffffff;
  overflow-y: auto;
  box-shadow: 0 10px 15px -3px rgba(0,-0,-0,-0.1), 0 4px 6px -2px rgba(0,-0,-0,-0.05);
  display:flex;
  flex-direction: column;
 }

 .right-message, .left-message{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
 }

  .right-message{
    align-self: flex-end;
    background-color: #00A961;
    width:fit-content;
    float:right;
    clear:both;
  }

  .left-message{
    align-self: flex-start;
    width:fit-content;
    background-color: #373737;
    float:left;
    clear:both;
  }

  .send{
    width:100%;
    margin: 0 auto;
    background-color: #252525;
  }

  textarea{
    outline: none;
    border: none;
  }
  #message-input{
    width: 80%;
    height: 60px;
    border: none;
    padding: 10px;
    margin-left:10px;
    margin-bottom:10px;
    font-size: 16px;
    background-color:#373737;
    color:#ffffff;
    border: none;

  }

  #message-input:focus{
    outline: none;
    border: none;
  }

  .send-btn{
    background-color: #00A961;
    color:#ffffff;
    padding : 10px;
    height:60px;
    border-radius: 5px;
    width: fit-content;
    font-size: 15px;
  }