 body{
  background: #ffffff;

  font-size: 16px;
  color: #252525;
 }

 .container{
  display: flex;
  flex-direction: column;
  width:50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
 }

.nav{
  background-color: #00A961;
  width:50%;
  justify-content: center;
  align-items: center;
  color:#ffffff;
}

 .chat-container{
  background-color: #252525;
  height:60vh;
  width:50%;
  color:#ffffff;
  overflow-y: scroll;
 }

 .right-message, .left-message{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
 }

  .right-message{
    align-self: flex-end;
    background-color: #00A961;
    width:fit-content;
    float:right;
    clear:both;
  }

  .left-message{
    align-self: flex-start;
    width:fit-content;
    background-color: #373737;
    float:left;
    clear:both;
  }

  .send{
    width:50%;
    margin: 0 auto;
  }
  #send-container{
    display: block;
    margin:auto;
    text-align: center;
    width:100%;
    background-color: #252525;
    padding-bottom:10px;
  }

  #send-container input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color:#373737;
    color:#ffffff;
    border: none;

  }

  .send-btn{
    background-color: #00A961;
    color:#ffffff;
    padding : 10px;
    border-radius: 10px;
  }